<nav>
  <mat-toolbar class="navbar">
    <img src="\assets\images\apartlogo.png" width="40px" height="auto">
    <span class="title-app-navbar">Gestor de Usuarios</span>
    <span class="spacer"></span>
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/registro']">
        <mat-icon>assignment_ind</mat-icon>
        <span>Registro</span>
      </button>
      <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button [disabled]="!identity" mat-menu-item [routerLink]="['/users/list']">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Listado de Usuarios</span>
      </button>
      <button mat-menu-item [routerLink]="['/logout/1']">
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar class="footer">
    <span class="copyright">Apartool Users Test &copy;</span>
  </mat-toolbar>
</footer>