<h1>{{page_title}}</h1>
<p>Identifícate con email y password para acceder a la plataforma.</p>

<!-- FORMULARIO DE LOGIN -->
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-card class="card-form">
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Email</mat-label>
              <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"  required matInput placeholder="Introduce tu Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              <mat-icon class="icon-in-card" matSuffix>email</mat-icon>
              <mat-error *ngIf="!email.valid && email.touched">El email no es válido</mat-error>
            </mat-form-field>
        </p>
    
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"  required matInput placeholder="Introduce tu Password">
              <mat-icon class="icon-in-card" matSuffix>admin_panel_settings</mat-icon>
              <mat-error *ngIf="!password.valid && password.touched">El password no es válido</mat-error>
            </mat-form-field>
        </p>
    
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Entrar</button>
    </mat-card>
</form>

<p>Si no tienes usuario Regístrate en la plataforma siguiendo este <a [routerLink]="['/registro']">enlace</a>.</p>
